.Sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2%;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    height: auto;
    min-height: 40vh;
}

.Quem-sou {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.Quem-sou h1 {
    font-size: 3.5rem;
    color: hsl(261, 100%, 52%);
    margin-bottom: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.Quem-sou h1:hover {
    color: hsl(261, 80%, 60%);
}

.Quem-sou h3 {
    color: #5f2fb8;
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.6;
    transition: color 0.3s ease;
    padding: 0 15px;
}

.Quem-sou h3:hover {
    color: hsl(261, 80%, 60%);
}

.Quem-sou h3 {
    color: #35084c;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 15px;
    padding: 0 20px;
    max-width: 80%;
    text-align: justify;
}

@media (max-width: 767px) {
    .Sobre-mim {
        padding: 15px; /* Reduz o padding para economizar espaço */
        gap: px; /* Reduz o espaço entre os elementos */
        min-height: auto; /* Remove a altura mínima fixa */
    }

    .Quem-sou {
        padding: 10px; /* Reduz o padding interno */
    }

    .Quem-sou h1 {
        font-size: 2.5rem; /* Reduz o tamanho da fonte do título */
    }

    .Quem-sou h3 {
        font-size: 1.0rem; /* Reduz o tamanho da fonte do subtítulo */
        max-width: 100%; /* Aumenta a largura máxima para melhor leitura */

    }

}